/* Site Defaults and Setup */
:root {
    font-family: 'Sora', sans-serif;
    --mainColor: #596D48;
    --secondaryColor: #4E3524;
    --secondaryActive: #FA2108;
    --grayMain: #A09EA0;
    --white: white;
    --lightGray: #E9E9E9;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
}

.body {
    display: flex;
}

/* STYLING FOR THE LOGO AND IMAGE CONTAINER */
.imageContainer {
    position: relative;
    width: 40vw;
}

.mainImage {
    height: 100vh;
    width: 40vw;
}

.logo {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    color: var(--white);
}

.logoText {
    font-size: 4rem;
}

.credit {
    position: absolute;
    bottom: 1px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white);
    margin: 0px;
    text-align: center;
    font-size: 1rem;
}

.logoNumber {
    color: var(--secondaryActive);
}

a {
    color: white;
}

a:hover {
    color: var(--secondaryActive);
}

/* STYLING FOR THE CONTENT CONTAINER */

.firstSection {
    background-color: var(--lightGray);
    padding: 0 50px;
    margin: 0px;
    /* height: 35vh; */
    width: 100%;
}

.firstSectionText {
    padding-top: 225px;
    padding-right: 100px;
    line-height: 1.5;
    padding-bottom: 35px;
}

.firstSectionText h2 {
    font-weight: 300;
    margin: 0px;
    text-align: left;
}

.firstSectionImpact {
    margin-top: 15px;
}

.firstSectionImpact h2 {
    font-weight: 700;
}

/* FORM STYLING */

.form {
    width: 100%;
    padding: 50px 50px 0;
    margin-bottom: 50px;
}

.formHeader {
    color: var(--secondaryActive);
    /* padding: 50px 50px 0; */
    font-size: 2rem;
    margin: 0;
    font-weight: 700;
}

.formFields {
    font-family: inherit;
    font-weight: 300;
    letter-spacing: .15rem;
}

form {
    display: flex;
    gap: 200px;
    margin-top: 20px;
}

.formColumn {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.formComponent {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input {
    width: 300px;
    height: 1.75rem;
    border-radius: 4px;
    border-width: thin;
    font-size: 1rem;
    font-family: inherit;
}

/* STYLING FOR THE LAST SECTION */

.background-submit {
    background-color: var(--lightGray);
    height: 502px;
    padding-top: 50px;
    padding-left: 50px;
}

.submit {

}

button {
    padding:15px 75px;
    background-color: var(--secondaryActive);
    color: white;
    border-radius: 8px;
    font-size: 1.5rem;
}

.final-text {
    color: black;
    font-size: 1.25rem;
}

#final-text {
    color: var(--secondaryActive);
}

@media (max-width: 650px) {
    .logoText {
        font-size: 2rem;
    }

    .firstSectionText h2 {
        font-size: 1rem;
    }

}